@{
    ViewData["Title"] = "Raja Salary Calculator";
    <link rel="stylesheet" href="~/css/Salary.css" />
}

<header class="w-100 text-center py-2 bg-dark text-white shadow">
    <h2 class="fw-bold mb-0 font-monospace">XBRL - Salary Calculation</h2>
</header>

<main class="container-fluid">
    <section class="d-flex justify-content-center gap-5 pt-5">
        <table class="table table-bordered table-hover table-striped" style="width: 27%;">
            <thead class="table-dark">
                <tr>
                    <th>S/N</th>
                    <th>EARNINGS</th>
                    <th>Amounts</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>1.</td>
                    <td>EARNED BASIC</td>
                    <td><input type="number" id="ea" class="form-control border-dark no-arrow"></td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td>EARNED HRA</td>
                    <td><input type="number" id="ehra" class="form-control border-dark no-arrow"></td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td>EARNED CONVEYANCE</td>
                    <td><input type="number" id="ec" class="form-control border-dark no-arrow"></td>
                </tr>
                <tr>
                    <td>4.</td>
                    <td>EARNED MEDICAL REIMBU</td>
                    <td><input type="number" id="emr" class="form-control border-dark no-arrow"></td>
                </tr>
                <tr>
                    <td>5.</td>
                    <td>EARNED SPECIAL ALLOWA</td>
                    <td><input type="number" id="spa" class="form-control border-dark no-arrow"></td>
                </tr>
                <tr>
                    <td>6.</td>
                    <td>EARNED BONUS</td>
                    <td><input type="number" id="eb" class="form-control border-dark no-arrow"></td>
                </tr>
            </tbody>

            <tfoot>
                <tr>
                    <td></td>
                    <td>GROSS TOTAL =</td>
                    <td><input type="number" id="gt" class="form-control border-dark no-arrow" disabled></td>
                </tr>
            </tfoot>
        </table>

        <table class="table table-bordered table-hover table-striped" style="width: 25%;">
            <thead class="table-dark">
                <tr>
                    <th>S/N</th>
                    <th>DEDUCTIONS</th>
                    <th>Amounts</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1.</td>
                    <td>PF AMOUNT</td>
                    <td><input type="number" id="pfa" class="form-control border-dark no-arrow"></td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td>ESI</td>
                    <td><input type="number" id="esi" class="form-control border-dark no-arrow"></td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td>PROFESSIONAL TAX</td>
                    <td><input type="number" id="pt" class="form-control border-dark no-arrow"></td>
                </tr>
                <tr>
                    <td>4.</td>
                    <td>OTHER DEDUCTIONS</td>
                    <td><input type="number" id="od" class="form-control border-dark no-arrow"></td>
                </tr>
            </tbody>

            <tfoot>
                <tr>
                    <td></td>
                    <td>DEDUCTION TOTAL = </td>
                    <td><input type="number" id="dt" class="form-control border-dark no-arrow" disabled></td>
                </tr>
            </tfoot>
        </table>

        <table class="table table-bordered table-hover table-striped" style="width: 40%;">
            <thead class="table-dark">
                <tr>
                    <th>S/N</th>
                    <th>SPL EARNINGS</th>
                    <th>Count</th>
                    <th>Amounts</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1.</td>
                    <td>EVENING SHIFT ALLOWANCE</td>
                    <td><input type="number" id="esc" class="form-control border-dark no-arrow"></td>
                    <td><input type="number" id="esa" class="form-control border-dark no-arrow" disabled></td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td>NIGHT SHIFT ALLOWANCE</td>
                    <td><input type="number" id="nsc" class="form-control border-dark no-arrow"></td>
                    <td><input type="number" id="nsa" class="form-control border-dark no-arrow" disabled></td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td>Hours</td>
                    <td><input type="number" id="hc" class="form-control border-dark no-arrow"></td>
                    <td><input type="number" id="ha" class="form-control border-dark no-arrow" disabled></td>
                </tr>
                <tr>
                    <td>4.</td>
                    <td>Extra Staffing</td>
                    <td><input type="number" id="estaffingc" class="form-control border-dark no-arrow"></td>
                    <td><input type="number" id="estaffinga" class="form-control border-dark no-arrow" disabled></td>
                </tr>
            <tfoot>
                <tr>
                    <td></td>
                    <td>Total</td>
                    <td></td>
                    <td><input type="number" id="totalallowance" class="form-control border-dark no-arrow" disabled></td>
                </tr>
            </tfoot>
            </tbody>
        </table>
    </section>


    <div class="text-center mt-3">
        <button type="button" class="btn btn-success w-50 text-center" onclick="submitNetPay()">Submit</button>
    </div>


    <h1 class="text-center my-5" style="font-weight: bold; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Your Net Pay = <span id="nps" class="fw-bold text-success">0.00</span></h1>

</main>

<footer class="row text-center py-4 bg-dark text-white shadow fixed-bottom">
    <div class="col">
        <p class="fw-bold mb-0 font-monospace">Edgar E-File Solutions Pvt. Ltd.</p>
    </div>
    <div class="col">
        <p class="fw-bold mb-0 font-monospace">2025 All rights reserved</p>
    </div>
    <div class="col">
        <p class="fw-bold mb-0 font-monospace">Chennai</p>
    </div>
</footer>

    @section Scripts {
        <script src="~/js/SalaryCalculationValidation.js"></script>
    }